@import "../../styles/layouts/grids.module.scss";
@import "../../styles/mixins/flexbox.module.scss";
@import "../../styles/mixins/text-style.module.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgba($color: white, $alpha: 0.02);
  backdrop-filter: blur(2px);

  .container {
    .row {
      height: 100%;

      .col_sm_4 {
        @include flexbox(between);

        .logo {
          @include text-style-24;
        }
      }
    }
  }
}
